<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/home.css}">
    <title>Home</title>
    
</head>
<body>
    <h3>SẢN PHẨM BÁN CHẠY</h3>
    <div class="column">
        <div class="product">
            <img th:src="@{/image/ThitNguoiBatBuu.jpg}" height="150px">
            <div class="name">Thịt Nguội Bát Bửu</div>
            <div class="price"><del>220.000VNĐ</del> 190.000VNĐ</div>
            <button>Thêm vào giỏ hàng</button>
        </div>
    
    </div>
    <div class="column">
        <div class="product">
            <img src="image/CangCuaBachHoa.jpg" alt="">
            <div class="name">Càng Cua Bách Hoa</div>
            <div class="price">170.000VNĐ - 850.000VNĐ</div>
            <button>Thêm vào giỏ hàng</button>
        </div>
    </div>
        <div class="column">
            <div class="product">
                <img src="image/DauHuNonSotTM.jpg" alt="">
                <div class="name">Đậu Hũ Non Sốt Trứng Muối</div>
                <div class="price"><del>700.000VNĐ</del> 450.000VNĐ</div>
                <button>Thêm vào giỏ hàng</button>
            </div>
        </div>
        <div class="column">
            <div class="product">
                <img src="image/SupCua.jpg" alt="">
                <div class="name">Súp Cua</div>
                <div class="price">350.000VNĐ</div>
                <button>Thêm vào giỏ hàng</button>
            </div>
        </div>
        <div class="column">
            <div class="product">
                <img src="image/SupBiDo.jpg" alt="">
                <div class="name">Súp Bí Đỏ</div>
                <div class="price">150.000VNĐ</div>
                <button>Thêm vào giỏ hàng</button>
            </div>
        </div>
        <div class="column">
            <div class="product">
                <img src="image/SupThitGa.jpg" alt="">
                <div class="name">Súp Thịt Gà</div>
                <div class="price">50.000VNĐ - 400.000VNĐ</div>
                <button>Thêm vào giỏ hàng</button>
            </div>
        </div>
    <div class="column">
        <div class="product">
            <img src="image/GoiCuHuDua.jpg" alt="">
            <div class="name">Gỏi Củ Hũ Dừa</div>
            <div class="price">220.000VNĐ - 850.000VNĐ</div>
            <button>Thêm vào giỏ hàng</button>
        </div>
    </div>

  
    <div class="column">
        <div class="product">
            <img src="image/GoiNgoSen.jpg" alt="">
            <div class="name">Gỏi Ngó Sen Tôm Thịt</div>
            <div class="price">170.000VNĐ</div>
            <button>Thêm vào giỏ hàng</button>
        </div>
    </div>
    <div class="column">
        <div class="product">
            <img src="image/SaladCaHoi.jpg" alt="">
            <div class="name">Salad Cá Hồi</div>
            <div class="price">150.000VNĐ</div>
            <button>Thêm vào giỏ hàng</button>
        </div>
    </div>
    
</body>
</html>