<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style/index.css}">
    <link rel="stylesheet" th:href="@{/style/hmenu.css}">
    <title>Trang Chủ</title>
</head>
<body>
    <div class="container"> 
    <header>  
    <!-- <img src="img/logo1.jpg" width="100%" height="100%"> -->
    <div class="slogan">
       <b>Nhà Hàng Đẹp & Độc</b>
    </div>
    <div class="giohang">
        <a href="#"><img src="image/giohang.png" width="50px" height="40px"> </a>
    </div>
</header>
</div>
<nav>
    <div class="menu">
        <ul class="hmenu">
            <li><a href="#" target="abc">Trang chủ</a></li>
            <li><a href="thucdon.html" target="abc">Thực Đơn</a>
            <li><a href="lienhe.html" target="abc">Liên Hệ</a></li>
        </ul>
    </div>
    <div class="box2">
        <a href="dangnhap.html" target="abc">Đăng nhập</a> |
        <a href="dangki.html" target="abc">Đăng kí</a>
    </div>
</nav>
<article>
    <iframe src="home.html" name="abc" frameborder="0"></iframe>
</article>
<!-- <footer>
<div class="column">
    <div class="product">
        <div class="name"> 
            <p><span>Mon - Fri: 11am - 10pm​</span></p>
            <p><span>Sat - Sun: 11am - 12pm</span></p>         
        </div>
    </div>
</div>
<div class="column">
    <div class="product">
        <div class="name">
           <a href="https://www.google.com/maps/place/FPT+Polytechnic/@10.8538211,106.6256397,17z/data=!4m12!1m6!3m5!1s0x31752bee0b0ef9e5:0x5b4da59e47aa97a8!2sQuang+Trung+Software+City!8m2!3d10.8538211!4d106.6278284!3m4!1s0x317529b6a2b351a5:0x11690ada8c36f9bc!8m2!3d10.8529391!4d106.6295448"><p><span>Công viên phần mềm, Toà nhà Innovation lô 24, Quang Trung, Quận 12, Thành phố Hồ Chí Minh, Vietnam</span></p></a>
            <p><span>HotLine: 0918092273</span></p>
        </div>
    </div>
</div>
<div class="column1">
    <div class="product">
        <div class="name"> 
            <p>
                <ul class="icon" aria-label="Social Bar" >  
                                     
                        <h2>Follow Us</h2>
                        <a href="https://www.facebook.com/troghieu203"><img src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_26,h_26,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png" alt=""></a>
                        <a href="#"><img src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_26,h_26,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png" alt=""></a>
                </ul>                  
            </p>
        </div>
    </div>
</div>
</footer> -->
</body>
</html>